<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../assets/img/logo.png" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../assets/css/main.css" />
    <title>BitBite | Contact Us</title>
  </head>
  <body>
    <header>
      <!-- First navbar  -->
      <nav>
        <table>
          <tr>
            <td width="200">
              <center>
                <a href="../../index.html">
                  <img
                    src="../assets/img/logo.png"
                    alt="Logo"
                    height="50"
                    width="50"
                  />
                </a>
              </center>
            </td>
            <td width="700">
              <center>
                <input
                  type="search"
                  placeholder="Hungry..?"
                  style="width: 700px; height: 2em"
                />
              </center>
            </td>
            <td>
              <button>
                <img
                  src="../assets/img/search.png"
                  alt="Search"
                  width="20"
                  height="20"
                />
              </button>
            </td>
            <td width="100" align="right">
              <a href="./cart.html">
                <img
                  src="../assets/img/cart.png"
                  alt="My Cart"
                  width="25"
                  height="25"
                />
              </a>
            </td>
            <td width="100" align="right">
              <button type="button">
                <a href="#">
                  <strong>
                    <font size="3">Login</font>
                  </strong>
                </a>
              </button>
            </td>
          </tr>
        </table>
      </nav>
      <hr />
      <!-- Second navbar  -->
      <nav>
        <table>
          <tr>
            <td width="800">
              <center>
                <a href="./foods.html">Foods</a>
                &nbsp; &nbsp;
                <a href="./drinks.html">Drinks</a>
                &nbsp; &nbsp;
                <a href="./contact.html">Contact</a>
              </center>
            </td>
            <td width="300">
              <a href="tel:+95912345678">
                <img
                  src="../assets/img/phone.png"
                  alt="Phone"
                  width="25"
                  height="25"
                />
                +95912345678
              </a>
            </td>
            <td width="300">
              <a href="mailto:bitbite@mail.com">
                <img
                  src="../assets/img/email.png"
                  alt="Email"
                  width="25"
                  height="25"
                />
                bitbite@mail.com</a
              >
            </td>
          </tr>
        </table>
      </nav>
      <hr />
    </header>
    <main>
      <section style="padding: 0" id="hero">
        <center>
          <h1>Contact Us</h1>
          <table>
            <tr>
              <td style="padding: 3rem">
                <img
                  src="../assets/img/map.png"
                  width="100"
                  height="100"
                  alt="Location"
                />
              </td>
              <td style="padding: 3rem; width: 20em">
                <address>
                  <h2>Our Location</h2>
                  <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Veniam sapiente esse repellat.
                  </p>
                </address>
              </td>
            </tr>
            <tr>
              <td style="padding: 3rem">
                <img
                  src="../assets/img/gmail.png"
                  width="100"
                  height="100"
                  alt="Email Address"
                />
              </td>
              <td style="padding: 3rem; width: 20em">
                <address>
                  <h2>Our E-mail Address</h2>
                  <p>bitbite@mail.com</p>
                </address>
              </td>
            </tr>
            <tr>
              <td style="padding: 3rem">
                <img
                  src="../assets/img/clock.png"
                  width="100"
                  height="100"
                  alt="Office Hours"
                />
              </td>
              <td style="padding: 3rem; width: 20em">
                <address>
                  <h2>Office Hours</h2>
                  <p>9:00-15:00</p>
                </address>
              </td>
            </tr>
          </table>
        </center>
      </section>
      <section id="map">
        <center>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7208.263514546812!2d96.11549129545783!3d16.85388279098792!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30c1957568f7d133%3A0x1d76283d4ae7d2e1!2sToKi%20ToKi%20(Hlaing%20Branch)!5e0!3m2!1sen!2smm!4v1672408586051!5m2!1sen!2smm"
            width="1000"
            height="450"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </center>
      </section>
      <section id="contact-form">
        <form action="../../index.html" style="width: 50%; margin: 0 auto">
          <h1 style="text-align: center">Contact Form</h1>
          <div>
            <label for="name">Your name</label> &nbsp;
            <input type="text" id="name" name="name" required />
            &nbsp; &nbsp;
            <label for="phone">Your Phone No.</label> &nbsp;
            <input type="tel" id="phone" name="phone" />
          </div>
          <br />
          <br />
          <div>
            <div style="margin-bottom: 1.2rem">
              <label for="message">Your Message</label>
            </div>
            <textarea
              style="width: 100%"
              name="message"
              id="message"
              rows="7"
              required
            ></textarea>
          </div>
          <div style="text-align: end">
            <button style="padding: 0.5rem 2rem">Send Message</button>
          </div>
        </form>
      </section>
    </main>
    <footer>
      <div>
        <center>
          <a href="#hero">Home</a> &nbsp; &#47; &nbsp;
          <a href="#map">Directions</a> &nbsp; &#47; &nbsp;
          <a href="#contact-form">Send us a message</a>
        </center>
      </div>
      <div style="background-color: skyblue">
        <center>
          <p style="margin-bottom: 0; padding-block: 10px; color: white">
            &copy; 2023 All Right Reserved | BitBite
          </p>
        </center>
      </div>
    </footer>
  </body>
</html>
