<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../assets/img/logo.png" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../assets/css/main.css" />
    <title>BitBite | Drinks</title>
  </head>
  <body>
    <header>
      <!-- First navbar  -->
      <nav>
        <table>
          <tr>
            <td width="200">
              <center>
                <a href="../../index.html">
                  <img
                    src="../assets/img/logo.png"
                    alt="Logo"
                    height="50"
                    width="50"
                  />
                </a>
              </center>
            </td>
            <td width="700">
              <center>
                <input
                  type="search"
                  placeholder="Hungry..?"
                  style="width: 700px; height: 2em"
                />
              </center>
            </td>
            <td>
              <button>
                <img
                  src="../assets/img/search.png"
                  alt="Search"
                  width="20"
                  height="20"
                />
              </button>
            </td>
            <td width="100" align="right">
              <a href="./cart.html">
                <img
                  src="../assets/img/cart.png"
                  alt="My Cart"
                  width="25"
                  height="25"
                />
              </a>
            </td>
            <td width="100" align="right">
              <button type="button">
                <a href="#">
                  <strong>
                    <font size="3">Login</font>
                  </strong>
                </a>
              </button>
            </td>
          </tr>
        </table>
      </nav>
      <hr />
      <!-- Second navbar  -->
      <nav>
        <table>
          <tr>
            <td width="800">
              <center>
                <a href="./foods.html">Foods</a>
                &nbsp; &nbsp;
                <a href="./drinks.html">Drinks</a>
                &nbsp; &nbsp;
                <a href="./contact.html">Contact</a>
              </center>
            </td>
            <td width="300">
              <a href="tel:+95912345678">
                <img
                  src="../assets/img/phone.png"
                  alt="Phone"
                  width="25"
                  height="25"
                />
                +95912345678
              </a>
            </td>
            <td width="300">
              <a href="mailto:bitbite@mail.com">
                <img
                  src="../assets/img/email.png"
                  alt="Email"
                  width="25"
                  height="25"
                />
                bitbite@mail.com</a
              >
            </td>
          </tr>
        </table>
      </nav>
      <hr />
    </header>
    <main>
      <center>
        <table>
          <tr>
            <td style="padding-block: 2rem">
              <table>
                <tr>
                  <td style="padding-inline: 3rem">
                    <img
                      src="https://images.unsplash.com/photo-1553979459-d2229ba7433b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=768&q=80"
                      alt="Burger"
                      width="200"
                      height="200"
                    />
                  </td>
                </tr>
                <tr>
                  <td style="padding-inline: 3rem">
                    <center>
                      <h2>Burger</h2>
                      <p>2000 MMK</p>
                      <button type="button">Add to cart</button>
                    </center>
                  </td>
                </tr>
              </table>
            </td>
            <td>
              <table>
                <tr>
                  <td style="padding-inline: 3rem">
                    <img
                      src="https://images.unsplash.com/photo-1619096252214-ef06c45683e3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=725&q=80"
                      alt="Sandwich"
                      width="200"
                      height="200"
                    />
                  </td>
                </tr>
                <tr>
                  <td style="padding-inline: 3rem">
                    <center>
                      <h2>Sandwich</h2>
                      <p>2000 MMK</p>
                      <button type="button">Add to cart</button>
                    </center>
                  </td>
                </tr>
              </table>
            </td>
            <td>
              <table>
                <tr>
                  <td style="padding-inline: 3rem">
                    <img
                      src="https://images.unsplash.com/photo-1560717845-968823efbee1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
                      alt="Grilled Fish"
                      width="200"
                      height="200"
                    />
                  </td>
                </tr>
                <tr>
                  <td style="padding-inline: 3rem">
                    <center>
                      <h2>Grilled Fish</h2>
                      <p>4000 MMK</p>
                      <button type="button">Add to cart</button>
                    </center>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td style="padding-block: 2rem">
              <table>
                <tr>
                  <td style="padding-inline: 3rem">
                    <img
                      src="https://images.unsplash.com/photo-1553979459-d2229ba7433b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=768&q=80"
                      alt="Burger"
                      width="200"
                      height="200"
                    />
                  </td>
                </tr>
                <tr>
                  <td style="padding-inline: 3rem">
                    <center>
                      <h2>Burger</h2>
                      <p>2000 MMK</p>
                      <button type="button">Add to cart</button>
                    </center>
                  </td>
                </tr>
              </table>
            </td>
            <td>
              <table>
                <tr>
                  <td style="padding-inline: 3rem">
                    <img
                      src="https://images.unsplash.com/photo-1619096252214-ef06c45683e3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=725&q=80"
                      alt="Sandwich"
                      width="200"
                      height="200"
                    />
                  </td>
                </tr>
                <tr>
                  <td style="padding-inline: 3rem">
                    <center>
                      <h2>Sandwich</h2>
                      <p>2000 MMK</p>
                      <button type="button">Add to cart</button>
                    </center>
                  </td>
                </tr>
              </table>
            </td>
            <td>
              <table>
                <tr>
                  <td style="padding-inline: 3rem">
                    <img
                      src="https://images.unsplash.com/photo-1560717845-968823efbee1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
                      alt="Grilled Fish"
                      width="200"
                      height="200"
                    />
                  </td>
                </tr>
                <tr>
                  <td style="padding-inline: 3rem">
                    <center>
                      <h2>Grilled Fish</h2>
                      <p>4000 MMK</p>
                      <button type="button">Add to cart</button>
                    </center>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </center>
    </main>
    <footer>
      <div>
        <center>
          <a href="#hero">Home</a> &nbsp; &#47; &nbsp;
          <a href="#hot">Hot Items</a> &nbsp; &#47; &nbsp;
          <a href="#signature">Signature Dishes</a> &nbsp; &#47; &nbsp;
          <a href="#feedback">Testimonials</a>
        </center>
      </div>
      <div style="background-color: skyblue">
        <center>
          <p style="margin-bottom: 0; padding-block: 10px; color: white">
            &copy; 2023 All Right Reserved | BitBite
          </p>
        </center>
      </div>
    </footer>
  </body>
</html>
